.contactform{
    position: relative;
    top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    p{
        font-size: 30px;
    }
    li{
        list-style: none;
    }
}